{% extends 'layouts/register.html' %} {% block content %}
<form action="http://127.0.0.1:8000/api/user/auth" method="post">
  {% csrf_token %}
  <div class="contentColumns spaceBlack register">
    <input
      class="input top"
      placeholder="Username"
      name="username"
      required
      type="text"
    />
    <input
      class="input bottom"
      type="password"
      placeholder="Contraseña"
      name="password"
      required
    />
  </div>

  <button class="btn submit registerBtn" type="submit">Log In ➔</button>
  {% if active %}
    <div class="error">
      <p>{{error}}</p>
    </div>
  {% endif %}
</form>
{% endblock %}
