{% load reactpy %} {% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/style/main.css' %}" />
    <script src="{% static '/js/register.js' %}"></script>

    <title>GYM</title>
  </head>
  <body class="contentCenter">
    <div class="contentColumns big">
      <picture class="contentCenter">
        <img class="logo" src="{% static  'img/logo.png' %}" alt="sds" />
      </picture>
      {% component "src.templates.components.Register_.Register" %}
    </div>
  </body>
</html>
