body {
  background: var(--bgBody);
}

.content{
  padding: 60px;
  padding-top: 100px;
}

.contentCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentColumns {
  display: flex;
  flex-direction: column;
}

.big {
  width: 23%;
  height: auto;
}

.spaceBlack {
  gap: 2px;
  background-color: var(--bgBox);
}

.register {
  border-radius: var(--radiosBdInput);
}

.start {
  height: 100%;
  overflow: hidden;
}

.boxImgStart {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.boxTextStart {
  width: 90%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  position: absolute;
  margin: auto;
}

.boxTextStart p {
  color: var(--fontClrWhite);
  text-align: center;
  margin-block: 0.3125rem;
}

.boxTextStart p:nth-child(1) {
  font-family: "Galada", cursive;
  font-family: "Bungee Shade", cursive;
  font-family: "Suez One", serif;

  font-size: 65px;
  text-transform: capitalize;
}

.boxTextStart p:nth-child(2) {
  font-family: "Slabo 27px", serif;
  font-size: 35px;
}

.tableAssistence {
  background-color: var(--bgButton);
  border-radius: var(--radiosBdInput);
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.titleTable {
  padding-inline: 20px;
  height: 30px;
  font-weight: bolder;
  color: var(--clrTertiary);
  border-bottom: 2px solid var(--clrSecondary);
  font-family: 'Roboto Slab', serif;
  text-transform: capitalize;
  color: var(--fontClrBtn);

}

.tableAssistence td {
  height: 35px;
  text-align: center;
  color: var(--fontClrPlaceholder);
}

.contentTable:hover{
  background-color: var(--bgBox);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}