.btn {
  height: 3.125rem;
  border-radius: 25px;
  text-transform: capitalize;
  font-size: 1.0625rem;
}

.submit {
  margin-block: 20px;
  width: auto;
  background-color: var(--bgButton);
  color: var(--fontClrBtn);
}

.registerBtn {
  width: 100%;
}

.save {
  height: 30px;
  color: var(--bgBox);
  border-radius: var(--radiosBdInput);
  border: none;
  padding-inline: 5px;
  font-size: 1.0625rem;
}

input[type="checkbox"] {
  width: 1.25rem;
  height: 1.25rem;
}

.formOp button,
.card button {
  margin-bottom: 0.625rem;
  width: 85%;
  height: 2.1875rem;
  border-radius: var(--radiosBdInput);
  background-color: var(--bgBox);
  color: var(--fontClrWhite);
  border: none;
}

.formOp button:active,
.editForm button:active {
  background-color: var(--bgInput);
}

.card button {
  background-color: var(--clrQuinary);
  color: var(--fontClrBtn);
  margin: auto;
  font-weight: bolder;
}

.twoButton {
  width: 100px;
  height: 35px;
  display: flex;
  margin-bottom: 10px;
}

.twoButton button {
  width: 35%;
  margin: 0;
}

.editForm .twoButton button:nth-child(2) {
  background-color: var(--clrPrimary);
}

.editForm .twoButton button:nth-child(1) {
  background-color: var(--clrSecondary);
}

.btn_update{
  background-color: var(--clrPrimary);
  height: 2.5rem;
  width: auto;
  padding: .3125rem;
  border-radius: .625rem;
  margin-bottom: .9375rem;
  color: var(--fontClrWhite);
}