.navRegister {
  width: 100%;
  margin-block: 0.9375rem;
}

.navRegister_ul {
  display: flex;
  padding: 0;
  justify-content: center;
  width: 50%;
  margin: auto;
  border-radius: 20px;
  background-color: var(--bgInput);
  padding: 5px;
}

.navRegister_li {
  margin-inline: 5px;
  width: 50%;
  height: 2.1875rem;
  border-radius: 20px;
  overflow: hidden;
}

.navRegister_li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--fontClrWhite);
  font-size: 18px;
  text-transform: capitalize;
}

.navRegister_li_active {
  background-color: var(--bgButton);
  color: var(--fontClrBtn);
}

.error {
  width: auto;
  height: auto;
  padding: 10px;
  background-color: var(--clrPrimary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radiosBdInput);
}

.error p {
  text-transform: capitalize;
  color: var(--fontClrWhite);
}

.gridNav {
  position: fixed;
  display: grid;
  width: 100%;
  height: 3.75rem;
  top: 0px;
  left: 0px;
  right: 0px;
  padding-inline: 0.9375rem;
  grid-template-columns: 60px 93.5%;
  border: none;
  backdrop-filter: blur(1rem);
}

.navLogo {
  width: 60px;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navUl {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: right;
  width: 100%;
}

.navUl li {
  margin-inline: 5px;
  width: auto;
  height: 2.1875rem;
  border-radius: 20px;
  overflow: hidden;
}

.navUl a, button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--bgButton);
  color: var(--fontClrBtn);
  font-weight: 600;
  padding-inline: 0.625rem;
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
  text-transform: capitalize;
  border: none;
}

.navUl a:active {
  background-color: var(--bgBox);
  color: var(--fontClrWhite);
}
