.btn{
    height: 3.125rem;
    border-radius: 25px;
    text-transform: capitalize;
    font-size: 1.0625rem;
}

.submit{
    margin-block: 20px;
    width: auto;
    background-color: var(--bgButton);
    color: var(--fontClrBtn);
}

.registerBtn{
    width: 100%;
}

